doctype html 
html 
    head 
        style 
            include  ../public/style.css
    
    body 
        nav#navbar 
            ul
                #logo 
                    img(src="/public/img/dn3.jpg", alt="")
                    | Piyush's D-Club
                li #[a(href="/") Home]
                li #[a(href="/") About]
                li #[a(href="/") Services]
                li #[a(href="/") Class Info]
                li #[a(href="/") Contact Us]
        
        section#introsection
            h1 Welcome to the Piyush's Dance-Club
            h3 Eat Dance Sleep Repeat
        section#missionsection
            h2 Fitness Services
            .card 
                h4 Dance perfection
                .card-box
                    .card-img 
                        img(src="/public/img/dn6.jpg", alt="") 
                
                    .card-content 
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla laborum soluta qui asperiores laboriosam voluptatem nobis harum sed vero illo.
            .card 
                h4 Reduce BellyFat
                .card-box
                    .card-img 
                        img(src="/public/img/dn4.jpg", alt="") 
                
                    .card-content 
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla laborum soluta qui asperiores laboriosam voluptatem nobis harum sed vero illo.
            .card 
                h4 Expert-Teaching
                .card-box
                    .card-img 
                        img(src="/public/img/dn5.jpg", alt="") 
                
                    .card-content 
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla laborum soluta qui asperiores laboriosam voluptatem nobis harum sed vero illo.
            
        section#sponsersection
            h2 Our Sponsers
            #sponser
            img(src="/public/img/sp1.jpg", alt="sponser not loaded" ,Class= "spimage" ,id="sp1")
            img(src="/public/img/sp2.png", alt="sponser not loaded" ,Class= "spimage")
            img(src="/public/img/sp3.jpg", alt="sponser not loaded" ,Class= "spimage")
            img(src="/public/img/sp4.jpg", alt="sponser not loaded" ,Class= "spimage")
        
        footer#footer 
            | Copyright © 2022 www.PiyushDclub.com | All Rights Reserved!
          
        script 
            include ../public/index.js